In [72]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import classification_report, accuracy_score, roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.datasets import make_blobs

In [73]:
data = pd.read_csv('heart.csv')
data.head()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,3,145,233,1,2,150,0,2.3,3,0,2,0
1,2,67,1,0,160,286,0,2,108,1,1.5,2,3,3,1
2,3,67,1,0,120,229,0,2,129,1,2.6,2,2,1,1
3,4,37,1,1,130,250,0,0,187,0,3.5,3,0,3,0
4,5,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [74]:
data.shape

(303, 15)

In [46]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  303 non-null    int64
 1   Age         303 non-null    int64
 2   Sex         303 non-null    int64
 3   ChestPain   303 non-null    int64
 4   RestBP      303 non-null    int64
 5   Chol        303 non-null    int64
 6   Fbs         303 non-null    int64
 7   RestECG     303 non-null    int64
 8   MaxHR       303 non-null    int64
 9   ExAng       303 non-null    int64
 10  Oldpeak     303 non-null    float64
 11  Slope       303 non-null    int64
 12  Ca          303 non-null    int64
 13  Thal        303 non-null    int64
 14  AHD         303 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 35.6 KB

In [47]:
data.isnull().sum()

Unnamed: 0    0
Age           0
Sex           0
ChestPain     0
RestBP        0
Chol          0
Fbs           0
RestECG       0
MaxHR         0
ExAng         0
Oldpeak       0
Slope         0
Ca            0
Thal          0
AHD           0
dtype: int64

In [48]:
data.describe()

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,152.000000,54.438944,0.679868,0.841584,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.676568,2.165017,0.458746
std,87.612784,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,0.942562,0.955550,0.499120
min,1.000000,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,76.500000,48.000000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,152.000000,56.000000,1.000000,1.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000,3.000000,0.000000
75%,227.500000,61.000000,1.000000,1.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,303.000000,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,3.000000,3.000000,1.000000

In [49]:
data['AHD'].value_counts()

0    164
1    139
Name: AHD, dtype: int64

In [50]:
x = data.drop(columns='AHD',axis=1)
y = data['AHD']
print(x)

     Unnamed: 0  Age  Sex  ChestPain  RestBP  Chol  Fbs  RestECG  MaxHR  \
0             1   63    1          3     145   233    1        2    150
1             2   67    1          0     160   286    0        2    108
2             3   67    1          0     120   229    0        2    129
3             4   37    1          1     130   250    0        0    187
4             5   41    0          2     130   204    0        2    172
..          ...  ...  ...        ...     ...   ...  ...      ...    ...
298         299   45    1          3     110   264    0        0    132
299         300   68    1          0     144   193    1        0    141
300         301   57    1          0     130   131    0        0    115
301         302   57    0          2     130   236    0        2    174
302         303   38    1          1     138   175    0        0    173

     ExAng  Oldpeak  Slope  Ca  Thal
0        0      2.3      3   0     2
1        1      1.5      2   3     3
2        1      2.6      2   2     1
3        0      3.5      3   0     3
4        0      1.4      1   0     3
..     ...      ...    ...  ..   ...
298      0      1.2      2   0     1
299      0      3.4      2   2     1
300      1      1.2      2   1     1
301      0      0.0      2   1     3
302      0      0.0      1   0     3

[303 rows x 14 columns]

In [51]:
print(y)

0      0
1      1
2      1
3      0
4      0
      ..
298    1
299    1
300    1
301    1
302    0
Name: AHD, Length: 303, dtype: int64

In [52]:
#splitting into training set and test set
X_train, X_test, Y_train, Y_test=train_test_split(x,y,test_size=0.3,random_state=109)

In [53]:
#SVM 
#creating a SVM classifier
Hmodel = svm.SVC(kernel='linear',C=1)

In [54]:
print(x.shape,X_train.shape,X_test.shape)

(303, 14) (212, 14) (91, 14)

In [55]:
#training the LR with training data
Hmodel.fit(X_train, Y_train)

SVC(C=1, kernel='linear')

In [57]:
#evaluvation
#accuracy score/model accuracy
X_test_prediction = Hmodel.predict(X_test)
test_data_accuracy=Hmodel.score(X_test,Y_test)

In [58]:
print('Accuracy on Test data :',test_data_accuracy)

Accuracy on Test data : 0.8461538461538461

In [59]:
X_train_prediction = Hmodel.predict(X_train)
training_data_accuracy=Hmodel.score(X_train,Y_train)
print('Accuracy on Training data :',training_data_accuracy)

Accuracy on Training data : 0.8773584905660378

In [76]:
print(classification_report(Y_test,X_test_prediction))#without scalar

              precision    recall  f1-score   support

           0       0.89      0.85      0.87        55
           1       0.79      0.83      0.81        36

    accuracy                           0.85        91
   macro avg       0.84      0.84      0.84        91
weighted avg       0.85      0.85      0.85        91

In [60]:
confusion_matrix(Y_test,X_test_prediction)

array([[47,  8],
       [ 6, 30]], dtype=int64)

In [ ]:
"""
array([[47,  8],
       [ 6, 30]], dtype=int64)
Here , this model predicted 
1)47 patients were predicted that they will have Heart Disease
2)30 will not have heart disease
3)8 were predicted that they will have heart disease but the prediction was wrong
4)6 were predicted that they will not have heart disease bu the prediction was wrong
       
"""